body{
    background-image: url(imagens/background.png);
}

button {
    border-radius: 12px;
}

.logo{
    border-radius: 50%;
    width: 40%;
    height: 100px;
}

.titulo{
    position: absolute;
    font-size: 60px;
    top: 25%;
    left: 25%; 
}

.menu{
    position: absolute;
    top: 55%;
    left: 25%;
}