button {
    border-radius: 12px;
}

html, body {
    overflow-x: hidden;
  }

.header {
    background-color: whitesmoke;
    height: 80px;
    border-bottom: 1px solid #5ea5aeab;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.perfilIcon {
    height: 2.5rem;
    width: auto;
    position: relative;
    left: 47rem;
    bottom: 3rem;
}

.logoNomeIndex {
    width: 171px;
    height: 50px;
    position: relative;
    top: 45px;
    left: 25px;
}

.logoNome {
    width: 171px;
    height: 50px;
    position: relative;
    bottom: 35px;
    left: 25px;
}
.logo {
    width: 70px;
    height: 70px;
    position: relative;
    left: 45px;
    top: 40px;
}
.imgInicio {
    width: 650px;
    height: 375px;
    position: relative;
    top: 50px;
    left: 630px;
}

.titulo {
    position: absolute;
    font-family: "Overpass", sans-serif;
    color: #0499AE;
    font-size: 70px;
    top: 175px;
    left: 150px; 
}

.botao {
    background-color: whitesmoke;
    font-family: "Overpass", sans-serif;
    border: none;
    position: relative;
    top: -100px;
    left: 100px;
    color: #0499AE;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}
.botaoH {
    background-color: whitesmoke;
    font-family: "Overpass", sans-serif;
    border: none;
    position: relative;
    bottom: 40px;
    left: 750px;
    color: #0499AE;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
} 

h5 {
    text-align: center;
}

.sobreHome {
    background-color: #0499AE;
    font-family: "Overpass", sans-serif;
    color: #ffff;
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnHomeSobre {
    color: #fff;
    font-family: "Overpass", sans-serif;
    border: none;
    color: #0499AE;
    padding: 7px 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.containerLocais{
    width: 800px; 
    height: 200px;
    font-family: "Overpass", sans-serif;
    color: #0499AE;
    border: none;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    top: 50px;
    padding: 50px 325px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.btnHomeLocais{
    background-color: whitesmoke;
    font-family: "Overpass", sans-serif;
    border: none;
    width: 300px;
    color: #0499AE;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}

.locaisHome {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 16rem;
}

.footer {
    background-color: whitesmoke;
    border-top: 1px solid #0499AE;

}

.logoNomeFooter {
    width: 150px;
    height: 44px;
    position: relative;
    bottom: 15px;
    left: 575px;
}

#main{
    border:solid;
    height:100vh;
    border-width: 0px;
  }
  #footer{
    border:solid;
  }

footer {
    border-top: 1px solid #0499AE;
    background-color: whitesmoke;
    color: #0499AE;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: static; 
    width: 100%; 
    text-align:left;
    margin-top: 50px;
  }
  
  .footer-section {
    margin: 30px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #416368;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align:left;
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #416368;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #416368;
    text-align:left;
}


@media screen and (max-width: 1024px) {

    button {
        border-radius: 12px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 70px;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    .logoNomeIndex {
        width: 10rem;
        height: auto;
        position: relative;
        top: 45px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        bottom: 35px;
        left: 10px;
    }
    
    .titulo {
        position: absolute;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        font-size: 3.5em;
        top: 10rem;
        left: 3rem;
    }
    
    .botao {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -5rem;
        left: 2rem;
        color: #0499AE;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .botaoH {
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -14px;
        left: 39rem;
        color: #0499AE;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 40px;
    }

    .perfilIcon {
        height: 2.5rem;
        width: auto;
        position: relative;
        left: 41rem;
        bottom: 1rem;
    }
    
    .imgInicio {
        width: 32rem;
        height: auto;
        position: relative;
        top: 2rem;
        left: 25rem;
    }

    .containerLocais {
        width: 800px;
        height: 200px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        padding: 50px 325px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
       display: none;
    }    
}

@media screen and (max-width: 900px) {
    button {
        border-radius: 11px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 4rem;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    .logoNomeIndex {
        width: 8rem;
        height: auto;
        position: relative;
        top: 45px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        bottom: 35px;
        left: 10px;
    }
    
    .titulo {
        position: absolute;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        font-size: 3rem;
        top: 8rem;
        left: 5rem;
    }
    
    .botao {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -3rem;
        left: 3rem;
        color: #0499AE;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .botaoH {
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -1rem;
        left: 28rem;
        color: #0499AE;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 40px;
    }

    .perfilIcon {
        height: 2.5rem;
        width: auto;
        position: relative;
        left: 32rem;
        bottom: 1rem;
    }
    
    .imgInicio {
        width: 400px;
        height: auto;
        position: relative;
        top: 2rem;
        left: 28rem;
    }

    .containerLocais {
        width: 700px;
        height: 200px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        padding: 50px 325px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
       display: none;
    }
    
}

@media screen and (max-width: 768px) {
    button {
        border-radius: 11px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 4rem;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    .logoNomeIndex {
        width: 8rem;
        height: auto;
        position: relative;
        top: 45px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        bottom: 35px;
        left: 10px;
    }
    
    .titulo {
        position: absolute;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        font-size: 3rem;
        top: 8rem;
        left: 2rem;
    }
    
    .botao {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -3rem;
        left: 1rem;
        color: #0499AE;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .botaoH {
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -1rem;
        left: 25rem;
        color: #0499AE;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 40px;
    }

    .perfilIcon {
        height: 2.5rem;
        width: auto;
        position: relative;
        left: 26.5rem;
        bottom: 1rem;
    }
    
    .imgInicio {
        width: 400px;
        height: auto;
        position: relative;
        top: 2rem;
        left: 25rem;
    }

    .containerLocais {
        width: 568px;
        height: 200px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        padding: 50px 325px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
       display: none;
    }
    
}

@media screen and (max-width: 500px) { 
    button {
        border-radius: 11px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 4rem;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    .logoNomeIndex {
        width: 8rem;
        height: auto;
        position: relative;
        top: 45px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        bottom: 35px;
        left: 10px;
    }
    
    .titulo {
        position: absolute;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        font-size: 3rem;
        top: 8rem;
        left: 2rem;
    }
    
    .botao {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -3rem;
        left: 1rem;
        color: #0499AE;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .botaoH {
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -1rem;
        left: 9rem;
        color: #0499AE;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 40px;
    }

    .perfilIcon {
        height: 2.5rem;
        width: auto;
        position: relative;
        left: 9rem;
        bottom: 1rem;
    }
    
    .imgInicio {
        width: 400px;
        height: auto;
        position: relative;
        top: 2rem;
        left: 25rem;
        opacity: 0%;
    }

    .containerLocais {
        width: 326px;
        height: 200px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        padding: 50px 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
       display: none;
    }
    
}

@media screen and (max-width: 391px) { 
    button {
        border-radius: 11px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 4rem;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    html, body {
        overflow-x: hidden;
      }
    
    .logoNomeIndex {
        width: 8rem;
        height: auto;
        position: relative;
        top: 45px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        bottom: 35px;
        left: 10px;
        display: none;
    }
    
    .titulo {
        position: absolute;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        font-size: 3rem;
        top: 8rem;
        left: 2rem;
    }
    
    .botao {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        top: -3rem;
        left: 1rem;
        color: #0499AE;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .botaoH {
            /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
            background-color: whitesmoke;
            font-family: "Overpass", sans-serif;
            border: none;
            position: relative;
            top: 0.7rem;
            left: 1rem;
            color: #0499AE;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            margin: 5px 10px;
            cursor: pointer;
            border-radius: 40px;
    }

    .perfilIcon {
        height: 2.5rem;
        width: auto;
        position: relative;
        left: 5rem;
        bottom: -0.6rem;
    }
    
    .imgInicio {
        width: 400px;
        height: auto;
        position: relative;
        top: 2rem;
        left: 25rem;
        opacity: 0%;
    }

    .containerLocais {
        width: 326px;
        height: 200px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        padding: 50px 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
       display: none;
    }
    
}