button {
    border-radius: 12px;
}

.header {
    background-color: whitesmoke;
    height: 80px;
    border-bottom: 1px solid #5ea5aeab;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.perfilIcon {
    height: 40px;
    width: 40px;
    position: relative;
    left: 780px;
    bottom: 45px;
}

.logoNomeIndex {
    width: 171px;
    height: 50px;
    position: relative;
    top: 45px;
    left: 25px;
}

.logoNome {
    width: 171px;
    height: 50px;
    position: relative;
    bottom: 35px;
    left: 25px;
}
.logo {
    width: 70px;
    height: 70px;
    position: relative;
    left: 45px;
    top: 40px;
}
.imgInicio {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 100px;
    right: 500px;
}

.botaoH {
    background-color: whitesmoke;
    font-family: "Overpass", sans-serif;
    border: none;
    position: relative;
    bottom: 40px;
    left: 750px;
    color: #0499AE;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
}

.containerSobre {
    width: 700px; 
    height: 300px;
    font-family: "Overpass", sans-serif;
    color: #0499AE;
    border: none;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    top: 80px;
    left: 550px;
    padding: 50px 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.textoSobre{
    position: relative;
    bottom: 400px;
}

.footer {
    background-color: whitesmoke;
    border-top: 1px solid #0499AE;
}

.logoNomeFooter {
    width: 150px;
    height: 44px;
    position: relative;
    left: 600px;
    bottom: 10px;
}
@media screen and (max-width: 500px) {
    button {
        border-radius: 12px;
    }
    
    .header {
        background-color: whitesmoke;
        height: 60px;
        border-bottom: 1px solid #5ea5aeab;
        color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .perfilIcon {
        height: 30px;
        width: 30px;
        position: relative;
        left: -40px;
        bottom: 20px;
    }
    
    .logoNomeIndex {
        width: 105px;
        height: 31px;
        position: relative;
        top: 7px;
        left: 10px;
    }
    
    .logoNome {
        width: 105px;
        height: 31px;
        position: relative;
        top: 7px;
        left: 10px;
    }
    .logo {
        display: none;
    }
    .imgInicio {
        display: none;
    }
    
    .botaoH {
        background-color: whitesmoke;
        font-family: "Overpass", sans-serif;
        border: none;
        position: relative;
        bottom: -40px;
        left: 10px;
        color: #0499AE;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        margin: 5px 5px;
        cursor: pointer;
        border-radius: 40px;
    }
    
    .containerSobre {
        width: 220px; 
        height: 300px;
        font-family: "Overpass", sans-serif;
        color: #0499AE;
        border: none;
        border-radius: 20px;
        background-color: whitesmoke;
        position: relative;
        top: 80px;
        left: 10px;
        padding: 10px 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .textoSobre{
        position: relative;
        font-size: 20px;
        bottom: 0px;
    }
    #titSobre {
        font-size: 30px;
    }
    
    #txtSobre {
        font-size: 15px;
    }
    .footer {
        display: none;
    }
    
    .logoNomeFooter {
        display: none;
    }
}

#main{
    border:solid;
    height:100vh;
    border-width: 0px;
  }
  #footer{
    border:solid;
  }

footer {
    border-top: 1px solid #0499AE;
    background-color: whitesmoke;
    color: #0499AE;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: static; 
    width: 100%; 
    text-align:left;
    margin-top: 200px;
  }
  
  .footer-section {
    margin: 30px;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #416368;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align:left;
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #416368;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #416368;
    text-align:left;
  }